<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Library</title>
</head>
<body>
    <h1>Book Library</h1>

    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Author</th>
                <th>Publisher</th>
                <th>Subject</th>
                <th>Title</th>
                <th>ISBN</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book.ID }}</td>
                <td>{{ book.Iro }}</td>
                <td>{{ book.Kiado }}</td>
                <td>{{ book.Tema }}</td>
                <td>{{ book.Cim }}</td>
                <td>{{ book.ISBN }}</td>
            </tr>
            {% endfor %}
        </tbody>
</body>